div.grid {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    width: 700px;
    height: 700px;
}

.gridItemState0{
    border: 1px solid black;
    background-color: white;
    width: 70px;
    height: 70px;
}

.gridItemState1{
    border: 1px solid black;
    background-color: black;
    width: 70px;
    height: 70px;
}